<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>#(title) - BussanQ</title>
<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">
<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- <link rel="icon" type="image/png" href="assets/i/favicon.png"> -->
<link href="//cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css"
	rel="stylesheet">
</head>
<body>
	<!--<header data-am-widget="header"
		class="am-header am-header-default am-header-fixed">
		<div class="am-header-left am-header-nav">
			<a id="back" href="javascript:;" class=""> <i
				class="am-header-icon am-icon-home"></i>
			</a>
		</div>

		<h1 class="am-header-title">
			<a href="#title-link" class=""> BussanQ </a>
		</h1>

		<div class="am-header-right am-header-nav">
			<a href="#right-link" class=""> <i
				class="am-header-icon am-icon-bars"></i>
			</a>
		</div>
	</header>-->
	<div class="am-panel am-panel-default">
		<div class="am-panel-bd">
			<article class="am-article">
				<div class="am-article-hd">
					<h1 class="am-article-title">#(title)</h1>
					<p class="am-article-meta">cnbeta</p>
				</div>

				<div class="am-article-bd" id="articleBody">
					<div class="am-article-lead">#(topic)</div>
					#(data)
				</div>
			</article>
		</div>
	</div>

	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
	<script src="//cdn.bootcss.com/dot/1.1.0/doT.min.js"></script>
	<script>
		$("#back").click(function () {
			window.history.back();
        });
	</script>
</body>
</html>