<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>cnbeta</title>
		<link rel="stylesheet" href="css/weui.min.css">
		<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.0/css/jquery-weui.min.css">
		<link rel="stylesheet" href="plugins/mescroll/mescroll.min.css">
		<link rel="stylesheet" href="plugins/mescroll/option/mescroll-option.css">
		<!-- <link href="//cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet"> -->
	</head>
	<body>
		<div class="weui-panel weui-panel_access">
			<div class="weui-panel__hd">资讯列表</div>
			<div id="mescroll" class="mescroll">
				<div class="weui-panel__bd"  id="dot-body">
					<script id="pagetmpl" type="text/x-dot-template">
						{{for(var i=0; i < it.length ; i++){ }}
							<a href="jsoupUrl/getArticle?url={{=it[i].link}}&title={{=it[i].title}}" class="weui-media-box weui-media-box_appmsg">
								<div class="weui-media-box__hd">
								<img class="weui-media-box__thumb" src="">
								</div>
								<div class="weui-media-box__bd">
								<h4 class="weui-media-box__title"></h4>
								<p class="weui-media-box__desc">{{=it[i].title}}</p>
								</div>
							</a>
						{{ } }}
					</script>
				</div>
			</div>
		</div>
		<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
		<script src="//cdn.bootcss.com/jquery-weui/1.0.0/js/jquery-weui.min.js"></script>
		<script src="//cdn.bootcss.com/dot/1.1.0/doT.min.js"></script>
		<script src="plugins/mescroll/mescroll.min.js"></script>
		<script src="plugins/mescroll/option/mescroll-option.js"></script>
		<script src="js/cnbeta/showList.js"></script>
		<!-- <script src="//cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script> -->
	</body>	
</html>